.el-table {
  --el-table-border-color: #ebeef5;
  --el-table-header-bg-color: #f5f7fa;
  font-size: 13px;
}

.el-table .cell {
  padding: 0 10px;
  line-height: 1.4;
}

.el-table__row {
  height: 30px;
}

.el-table__header th {
  font-weight: 500;
  color: #606266;
  font-size: 13px;
}

.el-button--primary.is-link,
.el-button--danger.is-link,
.el-button--info.is-link,
.el-button--warning.is-link {
  padding: 4px 8px;
  height: auto;
  font-size: 13px;
  margin: 0;
  min-width: auto;
}

.el-button--primary.is-link {
  color: var(--color-primary);
}

.el-button--danger.is-link {
  color: #f56c6c;
}

.el-button--info.is-link {
  color: #909399;
}

.el-button--warning.is-link {
  color: #e6a23c;
}